  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

  body {
      font-family: Montserrat;
      margin: 0;
      color: black;
      line-height: 1.5;
      background-color: #1a4210;
  }

  .head {
      background-color: #004d40;
      color: white;
      text-align: center;
      padding: 2rem;
  }

  h1 {
      letter-spacing: 3px;
  }

  .head p {
      font-size: 1.2rem;
  }

/* --------------------------------- */
  
  .content1, .content2 {
      background-color: rgba(255, 255, 255, 0.8);
      margin: 2rem auto;
      padding: 1rem;
      border-radius: 8px;
      width: 70%;
      font-size: 1.1rem;
  }

  /* ======== tablet 834px ======== */
@media (max-width: 834px) {

  .head {
    padding: 1.5rem;
  }

  .content1, .content2 {
    width: 90%;
    font-size: 1rem;
  }

  ul, ol {
    padding-left: 1.2rem;
  }
}

/* ======== movil 480px ======== */
@media (max-width: 480px) {

  body {
    font-size: 0.95rem;
  }

  .head {
    padding: 1rem;
  }

  .head h1 {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }

  .head p {
    font-size: 1rem;
  }

  .content1, .content2 {
    width: 95%;
    font-size: 0.95rem;
    padding: 1rem;
  }

  ul, ol {
    padding-left: 1rem;
  }
}