  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

  body {
      font-family: Montserrat;
      margin: 0;
      color: black;
      line-height: 1.5;
      background-color: #1a4210;
  }
    
  header {
      background-color: #1a4210;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      color: white;
      text-align:left;
      padding-left: 0.5rem;
      align-items: center;
  }

  header img {
      width: 30px;
      height: 15px;
  }

  header h2{
      font-size:2rem;
  }


  .logo-nav {
      width: 4.5rem;
      height: 4.5rem;
      padding-right: 1rem;
      padding-left: 1.5rem;
  }

  .head {
      background-color: #004d40;
      color: white;
      text-align: center;
      padding: 2rem;
  }

  h1 {
      letter-spacing: 3px;
  }

  .head p {
      font-size: 1.2rem;
  }
  
  .content1, .content2 {
      background-color: rgba(255, 255, 255, 0.8);
      margin: 2rem auto;
      padding: 1rem;
      border-radius: 8px;
      width: 70%;
      font-size: 1.1rem;
  }

  footer {
        text-align: center;
        background-color: #004d40;
        color: white;
        font-size: 1.2rem;
        display: flex;
        padding: 1rem;
        justify-content: space-around;
  }

  img {
    width: 15rem;
    height: 15rem;
  }

  .politica {
    width: 20%;
  }

  .politica h3 {
    margin-right: 140px;
  }

    .politica ul li a {
        color: white;
        text-decoration: none;
  }

      .politica ul li {
        list-style: none;
        text-align: left;
  }


  .contacto h3 {
    margin-right: 330px;
  }

  .contacto ul li {
        list-style: none;
        text-align: left;
  }

  .contacto ul li a {
            color: white;
  }
/*---------------------------------------*/
  .endfooter {
      background-color: #043028;
      color: white;
      text-align: center;
      padding: 0.3rem;
  }

  iframe {
    border-radius: 5px;

  }

  /* ======== tablet hasta 834px ======== */
@media (max-width: 834px) {

  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }

  .logo-nav {
    width: 4rem;
    height: 4rem;
    padding: 0;
  }

  header h2 {
    font-size: 1.6rem;
  }

  .head {
    padding: 1.5rem;
  }

  .content1, .content2 {
    width: 90%;
    font-size: 1rem;
  }

  ul, ol {
    padding-left: 1.2rem;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
  }

  .politica, .contacto {
    width: 100%;
    margin: 0;
  }

  .contacto h3, .politica h3 {
    margin-right: 0;
  }

  iframe {
    width: 90%;
    height: 250px;
  }

  .endfooter {
    font-size: 1rem;
  }
}

/* ======== movil 480px ======== */
@media (max-width: 480px) {

  body {
    font-size: 0.95rem;
  }

  header {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
  }

  header h2 {
    font-size: 1.2rem;
  }

  .head {
    padding: 1rem;
  }

  .head h1 {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }

  .head p {
    font-size: 1rem;
  }

  .content1, .content2 {
    width: 95%;
    font-size: 0.95rem;
    padding: 1rem;
  }

  ul, ol {
    padding-left: 1rem;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    gap: 1rem;
  }

  iframe {
    width: 100%;
    height: 200px;
  }

  .endfooter {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}