  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

    body {
      font-family: Montserrat;
      margin: 0;
      padding: 0;
    }

/* HEADER: */

    header {
        background-color: #1a4210;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        color: white;
        text-align:left;
        padding-left: 0.5rem;
        padding: 0.3rem;
        align-items: center;
    }


    header h2{
      font-size:2rem;
    }

    .logo-header {
        width: 4.5rem;
        height: 4.5rem;
        padding-right: 1rem;
        padding-left: 1.5rem;
    }

/*  MENÚ DE IDIOMAS DEL HEADER: */

.languages {
  display: flex;
  gap: 10px;
  margin-left: auto;
  margin-right: 2.5rem;
}

.lang-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.lang-btn img {
  width: 2rem;  
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.lang-btn:hover {
  transform: scale(1.15);
  opacity: 0.8;
}
nav{
        background-color:#E3742C;
        width: 100%;
    }
      nav ul {
        list-style: none;
        margin: 0;
        padding: 0rem 0;
        display: flex;
        justify-content: center;
    }

      nav ul li {
        margin: 0 15px;
        transition: transform 0.3s ease;
    }
     nav ul li:hover {
        transform:translateY(5px);
    }
     nav ul li a {
        display: inline-block;
        padding: 0.8rem 2rem;
        background-color: #E3742C;
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1rem;
        border-radius: 4px;
        transition:transform 0.3s ease;
    }
     nav ul li a:hover {
        color:#E3742C;
        transform: translateY(8px); 
        transition:1s;
        background-color: white;
    }

.ayunta img {
    width: 100%;
    height: 400px;
    object-fit: cover;

}

main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 1rem;
}

h2, h3 {
    color: #004d40;
}

.financiamiento {
    background-color: white;
    border-left: 5px solid #00796b;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.financiamiento img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}

footer {
      background-color: #0b1320;
      color: white;
      text-align: center;
      padding: 0.1rem;
    }

/* DISEÑO RESPONSIVO */
@media (max-width: 768px) {
  header {
    flex-direction: column; /* Coloca elementos del header en columna */
    text-align: center;
  }
  nav ul {
    flex-direction: column;  /* Menú vertical en pantallas pequeñas */
  }
  main {
    padding:1.5rem;
  }
}