body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  background-image: url('/img/test.jpg'); 
  background-size:cover;    
  height: 100vh;           
  margin: 0;                   
  background-attachment: fixed;
    }
  header {
        background-color: #1A4210;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        color: white;
        text-align:left;
        padding-left: 0.5rem;
        padding: 0.3rem;
        align-items: center;
    }
  
  .logo-nav {
        width: 8rem;
        height: 8rem;
        padding: 0.1rem;
        padding-right: 1rem;
    }
    header h2{
      font-size:2rem;
    }
    
    .languages {
  display: flex;
  gap: 10px;
  margin-left: auto;
  margin-right: 2.5rem;
}

.lang-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.lang-btn img {
  width: 2rem;  
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.lang-btn:hover {
  transform: scale(1.15);
  opacity: 0.8;
}

    nav{
        background-color:#E3742C;
        width: 100%;
    }

    nav ul {
      list-style: none;
      margin: 0;
      padding: 0rem 0;
      display: flex;
      justify-content: center;
      font-weight: bold;
    
    }
    nav ul li {
      margin: 0 15px;
      transition: transform 0.3s ease;
    }
       nav ul li:hover {
      transform: translateY(5px);
}
    nav ul li a {
      display: inline-block;
      color: white;
      background-color:#E3742C;
      text-decoration: none;
      font-weight: bold;
      font-size: 1.1rem;
      padding: 0.8rem 2rem;
      border-radius: 4px;
      transition: transform 0.3s ease;
    }
    nav ul li a:hover {
        color:#E3742C;
        transform: translateY(8px); 
        transition:1.5s;
        background-color: wheat;
    }

.main {
  background-color: #004d40;
  color: white;
  text-align: center;
  padding: 0.5rem 0.5rem;
}
.main h2 {
  margin: 0;
  font-size: 2rem;
}

.main p {
  font-style: italic;
  font-size: 1.1rem;
}
.content {
  background: white;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 8px;
  max-width: 900px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.content h2 {
  color: #00695c;
  border-left: 5px solid #004d40;
  padding-left: 10px;
}

.content img {
  width: 100%;
  border-radius: 8px;
  margin-top: 1rem;
  transition: transform 0.3s ease;
}

.content img:hover {
  transform: scale(1.03);
}
    
footer {
      background-color: #0b1320;
      color: white;
      text-align: center;
      padding: 0.1rem;
    }


@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }
  nav ul {
    flex-direction: column;
  }
  main {
    padding:1.5rem;
  }
}