/* Importa la fuente "Montserrat" desde Google Fonts */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

 /* Estilos generales del cuerpo de la página */
body {
  font-family: Montserrat;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  background-image: url('/img/test.jpg'); 
  background-size:cover;    
  height: 100vh;           
  margin: 0;                   
  background-attachment: fixed;
    }
    /*Seccion principal (.main)*/
.main {
  background-color: #004d40;
  color: white;
  text-align: center;
  padding: 0.5rem 0.5rem;
}
/*Estilos del titulo dentro de .main*/
.main h2 {
  margin: 0;
  font-size: 2rem;
}
/*Estilos del parafo dentro de .main*/
.main p {
  font-style: italic;
  font-size: 1.1rem;
}
/*contenedor del contenido*/
.content {
  background: white;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 8px;
  max-width: 900px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
/* Estilos para los títulos dentro del contenido */
.content h2 {
  color: #00695c;
  border-left: 5px solid #004d40; /* Barra decorativa a la izquierda */
  padding-left: 10px;
}
/* Estilos para las imágenes dentro del contenido */
.content img {
  width: 100%;
  border-radius: 8px;
  margin-top: 1rem;
  transition: transform 0.3s ease;
}
/* Efecto al pasar el mouse sobre las imágenes */
.content img:hover {
  transform: scale(1.03); /* Zoom leve en imágenes */
}    