body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  background-image: url('/img/test.jpg'); 
  background-size:cover;    
  height: 100vh;           
  margin: 0;                   
  background-attachment: fixed;
    }
  header {
        background-color: #1A4210;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        color: white;
        text-align:left;
        padding-left: 2rem;
        padding: 0.5rem;
        align-items: center;
    }
  
  .logo-nav {
        width: 8rem;
        height: 8rem;
        padding: 0.1rem;
        padding-right: 1rem;
    }
    header h1{
      font-size:2rem;
    }
    nav ul {
      list-style: none;
      margin: 0;
      padding: 1.5rem;
      display: flex;
      justify-content: center;
      background-color: #E3742C;
      font-size:1.5rem;
      font-weight: bold;
    }
    nav ul li {
      margin: 0 15px;
    }
    nav ul li a {
      color: white;
      text-decoration: none;
      padding: 2rem;
      font-family: 'Times New Roman', Times, serif;

    }
.main {
  background-color: #004d40;
  color: white;
  text-align: center;
  padding: 0.5rem 0.5rem;
}

.main h2 {
  margin: 0;
  font-size: 2rem;
}

.main p {
  font-style: italic;
  font-size: 1.1rem;
}
.content {
  background: white;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 8px;
  max-width: 900px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.content h2 {
  color: #00695c;
  border-left: 5px solid #004d40;
  padding-left: 10px;
}

.content img {
  width: 100%;
  border-radius: 8px;
  margin-top: 1rem;
  transition: transform 0.3s ease;
}

.content img:hover {
  transform: scale(1.03);
}
nav ul li a:hover {
      color: #1A4210;
      transition: 2.5s;
}
    

footer {
  text-align: center;
  background-color:  #1A4210;
  color: white;
  padding: 1rem;
  font-size: 1rem;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 1.5rem;
  }
}