

/* LAS CLASES ESTÁN LIMPIAS */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {  
  background-image: url(/img/jai-alai-miami.avif);
  background-size:cover;    
  height: 90vh;           
  margin: 0;                   
  background-attachment: fixed;
  font-family: Montserrat;
  margin: 0;
  padding: 0;
    }


/* FORMULARIO DE INSCRIPCIÓN A LIGAS */


.form-header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

.seleccion-liga {
        display: flex;
        align-items:center;
        justify-content:space-around;
        flex-direction: row;
        padding-bottom: 8rem;
    }

.main-container {
    color: white;
    padding: 1rem;
    margin: 1rem;
    width: 63%;
    text-shadow: 0 7px 7px black;
    }

.form-container {
    background-color: rgba(255, 255, 255, 0.85);
    color: #0b1320;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    width: 45rem;
    }

.form-header h2 {
    font-size: 4rem;
    text-align: center;
}

.form-header h4 {
    font-size: 1.5rem;
    text-align: center;
}

.seleccion-liga h2 {
    font-size: 2.5rem;
    text-align: center;  
  }

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    height: 30rem;
    width: 30rem;
}

.logo-container img:hover {
   scroll-behavior: smooth;
   transform:scale(110%)
}

.formulario {
  margin: 3rem;
  margin-top: 5rem;
}

.formulario p {
        text-align: center;
        padding: 3rem;
}

.formulario ::placeholder {
        font-family: Montserrat;
        font-size: 0.9rem;
}

form label {
        display: block;
        margin-top: 1rem;
        font-weight: 600;
    }

form input {
        width: 100%;
        padding: 0.5rem;
        margin-top: 0,6rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

form button {
        margin-top: 1.5rem;
        width: 30%;
        padding: 0.7rem;
        background-color: #1A4210;
        color: white;
        border: none;
        border-radius: 4px;
      }

input{ 
        width: 100%;            
        padding: 0.5rem;        
        border: 1px solid #ccc;  
        border-radius: 4px;     
        box-sizing: border-box;  
        font-size: 1rem; 
    }
    
textarea {
        resize: none; 
        width: 100%;    
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        height: 8rem; 
    }

/* INTERCAMBIADOR DE FORMULARIOS: */


input[type="radio"][name="selector-liga"] {
  display: none;
}

#formulario-liga1,
#formulario-liga2 {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#liga-mayor:checked ~ #formulario-liga1 {
  display: block;
  opacity: 1;
}

#liga-menor:checked ~ #formulario-liga2 {
  display: block;
  opacity: 1;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-container label {
  cursor: pointer;
  margin: 4rem;
}

.logo-container img {
  height: 27rem;
  width: 27rem;
  transition: transform 0.3s ease, border 0.3s ease, opacity 0.3s ease;
  border: 4px solid transparent;
  border-radius: 12px;
}

#liga-mayor:checked ~ .logo-container label[for="liga-mayor"] img,
#liga-menor:checked ~ .logo-container label[for="liga-menor"] img {
  border-color: #E3742C;
  transform: scale(1.2);
}





@media screen and (max-width: 834px) {



  /* FORMULARIO */
  .seleccion-liga {
    flex-direction: column;
    padding-bottom: 5rem;
  }

  .logo-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .logo-container img {
    width: 18rem;
    height: 18rem;
  }

  .form-container {
    width: 90%;
    margin: 1rem auto;
  }

  .form-header h2 {
    font-size: 2.5rem;
  }

  .form-header h4 {
    font-size: 1.2rem;
  }
}

