
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {  
  background-image: url(/img/partido.jpg);
  background-size:cover;    
  height: 90vh;                           
  background-attachment: fixed;
  font-family: Montserrat;
  margin: 0;
  padding: 0;
    }

/* Bot贸n de subida*/
.subir {
    position: fixed; /* Se mantiene en la pantalla mientras haces scroll */
    z-index: 1000;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 228, 196, 0.584);
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    text-decoration: none; /* Quita el subrayado del enlace */
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
.subir:hover {
   scroll-behavior: smooth; /* crea un desplazamiento sueave del bot贸n*/
   transform: translateY(-3px); 
}
.arrow {
  height: 1.5rem;
  padding: 0.5px;
  color: #E3742C;
}
/*Termina bot贸n de subida*/

.bg-container {
   background-color: rgba(255, 255, 255, 0.85);
   color: darkolivegreen;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 700px;
  width: 90%;
  position: relative;
}

.flex {
        display: flex;
    }
.center {
        align-items: center;
        justify-content: center;
    }
.f-column {
        flex-direction: column;
    }
.ta-center{
        text-align: center;
}
.line-height{
    line-height: 2.5;
}
.fs-xl {
    font-size: 3rem;
}
.fs-l {
    font-size: 2rem;
    text-align: center;
}
.fs-m {
    font-size: 1.7rem;
}
.fs-s {
    font-size: 1.4rem;
}


 @media only screen and (max-width: 834px) {
  .bg-container {
    padding:1.5rem;
  }
  .subir {
    position: fixed; 
    z-index: 1000;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 228, 196, 0.584);
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    text-decoration: none;   
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
} 
.subir:hover {
   scroll-behavior: smooth;
}
.arrow {
  height: 1.5rem;
  padding: 0.5px;
  color: #E3742C;
}       
}
         
 @media only screen and (max-width: 360px) {
  .bg-container {
    padding:1rem;
    max-width: 300px;
    margin: 0.5rem;
    border-radius: 8px;
  }

  .fs-xl {
  font-size: 8vw;
  }

  .subir {
    position: fixed; /* El bot贸n se mantiene en la pantalla mientras haces scroll*/
    z-index: 1000;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 228, 196, 0.584);
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    text-decoration: none; /* Quita el subrayado del enlace */
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } 

  .subir:hover {
   scroll-behavior: smooth;
  }

  .arrow {
  height: 1.5rem;
  padding: 0.5px;
  color: #E3742C;
  }

}