  
  /* Importación de fuente desde Google Fonts*/
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

  /*Estilos generales del cuerpo del sitio*/
    body {
  font-family: Montserrat;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  background-image: url('/img/cesta\ punta.jpg');   /* Imagen de fondo */
  background-size:cover;  /* La imagen cubre toda la pantalla */ 
  background-attachment: fixed; /* La imagen de fondo se mantiene fija al hacer scroll */
  height: 100vh;           
  margin: 0;
    }
    
/*Contenedor principal (main)*/
main {
    max-width: 57rem;
    margin: 2rem auto;
    padding: 0 1rem;
}
 h2 {
    color: #004d40;
}
.financiamiento {
    background-color: white;
    border-left: 5px solid #00796b;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
/*Imágenes dentro de la sección .financiamiento*/
.financiamiento img {
    width: 100%;
    max-height: 19rem;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}