  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

    body {
  font-family: Montserrat;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  background-image: url('/img/cesta\ punta.jpg'); 
  background-size:cover;    
  height: 100vh;           
  margin: 0;                   
  background-attachment: fixed;
    }


main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 1rem;
}

 h2 {
    color: #004d40;
}

.financiamiento {
    background-color: white;
    border-left: 5px solid #00796b;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.financiamiento img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}

/* FOOTER: */

footer {
        text-align: center;
        background-color: #004d40;
        color: white;
        padding: 2rem;
        font-size: 1.2rem;
        display: flex;
        justify-content: space-around;
  }
  footer img { 
  height: 15rem;
  width: 15rem;
}


.politica {
    width: 300px;
    height: 180px;;
  }

.politica h3 {
    margin-right: 105px;
  }

.politica ul li a {
        color: white;
        text-decoration: none;
  }

.politica ul li {
        list-style: none;
        text-align: left;
  }

.contacto h3 {
    margin-right: 330px;
  }

.contacto ul li {
        list-style: none;
        text-align: left;
  }

.contacto ul li a {
            color: white;
  }

.endfooter {
      background-color: #043028;
      color: white;
      text-align: center;
      padding: 0.3rem;
  }

iframe {
    border-radius: 5px;

  }
       /* Menú hamburguesa sin checkbox ni JS */
#menu-toggle {
  display: none;
}

.hamburguesa {
  display: none;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  color: white;
  background-color: #E3742C;
}

/* DISEÑO RESPONSIVO */
@media (max-width: 834px) {
  header {
    flex-direction: column; /* Coloca elementos del header en columna */
    text-align: center;
  }
  nav ul {
    flex-direction: column;  /* Menú vertical en pantallas pequeñas */
  }
  main {
    padding:1.5rem;
  }
 .hamburguesa {
    display: block;
  }

  #menu {
    display: none;
    flex-direction: column;
    background-color: #E3742C;
    padding: 1rem 0;
    align-items: center;
  }

  #menu-toggle:checked + .hamburguesa + #menu {
    display: flex;
  }

  #menu li {
    margin: 0.5rem 0;
  }

  #menu li a {
    color: white;
    padding: 0.8rem;
    text-decoration: none;
    font-weight: bold;
    display: block;
    width: 80%;
    text-align: center;
    border-radius: 4px;
  }

  #menu li a:hover {
    background-color: white;
    color: #E3742C;
  }

  #menu li a.activo {
    background-color: white;
    color: #1A4210;
  }
  footer {
          flex-direction: column;
          text-align: center;
          justify-content: center;
          align-items: center;
     
  }
}

@media (max-width: 360px) {
  header {
    flex-direction: column; /* Coloca elementos del header en columna */
    text-align: center;
  }
  nav ul {
    flex-direction: column;  /* Menú vertical en pantallas pequeñas */
  }
  main {
    padding:1.5rem;
  }
  footer {
          flex-direction: column;
          text-align: center;
          justify-content: center;
          align-items: center;
     
  }
  hamburguesa {
    display: block;
  }

  #menu {
    display: none;
    flex-direction: column;
    background-color: #E3742C;
    padding: 1rem 0;
    align-items: center;
  }

  #menu-toggle:checked + .hamburguesa + #menu {
    display: flex;
  }

  #menu li {
    margin: 0.5rem 0;
  }

  #menu li a {
    color: white;
    padding: 0.8rem;
    text-decoration: none;
    font-weight: bold;
    display: block;
    width: 80%;
    text-align: center;
    border-radius: 4px;
  }

  #menu li a:hover {
    background-color: white;
    color: #E3742C;
  }

  #menu li a.activo {
    background-color: white;
    color: #1A4210;
  }

 
}