@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  background-image: url("/img/Pelotaris%20actuales%20de%20Gernika.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ---------------- FORMULARIO ---------------- */
input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  margin-top: 0.6rem;
  resize: none;
}



.registro-container {
  max-width: 400px;
  margin: 10rem auto;
  padding: 2rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  border: 12px solid #1a4210;
}

.registro-container h2 {
  text-align: center;

}

form label {
  display: block;
  margin-top: 1rem;
}

form button {
  
  margin-top: 1rem;
  width: 100%;
  padding: 0.7rem;
  background-color: #1a4210;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  
}

form button:hover {
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: scaleX(1.03) scaleY(1.05); 

}




      








 